-- TABLAS PARA PACKS ESTRATÉGICOS (BUNDLES)
-- Este script crea las tablas necesarias para gestionar los packs dinámicos

-- 1. Tabla de Cabecera de Bundles
CREATE TABLE IF NOT EXISTS public.bundles (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    description TEXT,
    price NUMERIC(10, 2) NOT NULL,
    badge TEXT, -- Ejs: 'CONSEILLÉ', 'MARGE HAUTE', 'ELITE SELECTION'
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 2. Tabla de Ítems del Bundle (Relación con Productos)
CREATE TABLE IF NOT EXISTS public.bundle_items (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    bundle_id UUID REFERENCES public.bundles(id) ON DELETE CASCADE,
    product_id UUID REFERENCES public.products(id) ON DELETE CASCADE,
    quantity INTEGER NOT NULL CHECK (quantity > 0)
);

-- 3. Habilitar RLS
ALTER TABLE public.bundles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.bundle_items ENABLE ROW LEVEL SECURITY;

-- 4. Políticas de Acceso
DROP POLICY IF EXISTS "Allow public read on bundles" ON public.bundles;
CREATE POLICY "Allow public read on bundles" ON public.bundles FOR SELECT TO authenticated USING (true);

DROP POLICY IF EXISTS "Allow public read on bundle_items" ON public.bundle_items;
CREATE POLICY "Allow public read on bundle_items" ON public.bundle_items FOR SELECT TO authenticated USING (true);

-- Solo admins pueden modificar bundles
DROP POLICY IF EXISTS "Admins can manage bundles" ON public.bundles;
CREATE POLICY "Admins can manage bundles" ON public.bundles FOR ALL TO authenticated 
USING (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role IN ('admin', 'directeur', 'manager')));

DROP POLICY IF EXISTS "Admins can manage bundle_items" ON public.bundle_items;
CREATE POLICY "Admins can manage bundle_items" ON public.bundle_items FOR ALL TO authenticated 
USING (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role IN ('admin', 'directeur', 'manager')));

-- 5. SEMILLAS (MIGRA CIÓN DE CONSTANTES ACTUALES)
DO $$ 
DECLARE
    bundle_id_rotation UUID;
    bundle_id_antiage UUID;
    bundle_id_elite UUID;
BEGIN
    -- Pack Rotación Alta (1200 CHF)
    INSERT INTO public.bundles (name, description, price, badge)
    VALUES ('Pack Rotación Alta', 'Sélection des 10 best-sellers pour un flux de trésorerie immédiat.', 1200.00, 'CONSEILLÉ')
    RETURNING id INTO bundle_id_rotation;

    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_rotation, id, 5 FROM public.products WHERE sku = 'KRX-GSP';
    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_rotation, id, 3 FROM public.products WHERE sku = 'KRX-BC1';
    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_rotation, id, 4 FROM public.products WHERE sku = 'KRX-CRS';

    -- Pack Clinique Anti-Age (2500 CHF)
    INSERT INTO public.bundles (name, description, price, badge)
    VALUES ('Pack Clinique Anti-Age', 'Protocoles avancés pour rajeunissement cellulaire et lifting.', 2500.00, 'MARGE HAUTE')
    RETURNING id INTO bundle_id_antiage;

    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_antiage, id, 10 FROM public.products WHERE sku = 'KRX-VTX';
    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_antiage, id, 5 FROM public.products WHERE sku = 'KRX-EXO';
    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_antiage, id, 2 FROM public.products WHERE sku = 'KRX-CT1000';

    -- Pack Elite 20 (4500 CHF)
    INSERT INTO public.bundles (name, description, price, badge)
    VALUES ('Pack Elite 20', 'Volume maximal pour accès prioritaire et support marketing VIP.', 4500.00, 'ELITE SELECTION')
    RETURNING id INTO bundle_id_elite;

    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_elite, id, 12 FROM public.products WHERE sku = 'KRX-MPP';
    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_elite, id, 5 FROM public.products WHERE sku = 'KRX-CT1000';
    INSERT INTO public.bundle_items (bundle_id, product_id, quantity)
    SELECT bundle_id_elite, id, 5 FROM public.products WHERE sku = 'KRX-SH3';

END $$;
